CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hiwifi_hc5962=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-app-cifsd=y #使用内核模块的 SAMBA 1/2/3 服务器，可以提供比 Samba3/4 这种用户态的程序提供高得多的性能和低延迟，大并发配合最近的内核态 antfs 的 NTFS 读写文件驱动，应该是补上了 OpenWrt 文件共享的性能问题.和 Samba 冲突
#CONFIG_PACKAGE_luci-app-cifs-mount=y #挂载网络硬盘
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-qbittorrent-simple=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-aliyundrive-fuse=y #直接通过 FUSE 实现将阿里云盘挂载为本地磁盘，配合Emby 和 Jellyfin等客户端访问 WebDAV 资源
#CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y #通过 WebDAV 访问阿里云盘内容，需要配合 rclone 之类的软件将 WebDAV 挂载为本地磁盘
CONFIG_PACKAGE_luci-app-webdav=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-theme-argon=y
