CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_ohyeah_oy-0001=y
#CONFIG_PACKAGE_automount=y
#CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_ipv6helper=y
#CONFIG_PACKAGE_luci-app-cifsd=y #使用内核模块的 SAMBA 1/2/3 服务器，可以提供比 Samba3/4 这种用户态的程序提供高得多的性能和低延迟，大并发配合最近的内核态 antfs 的 NTFS 读写文件驱动，应该是补上了 OpenWrt 文件共享的性能问题.和 Samba 冲突
#CONFIG_PACKAGE_luci-app-cifs-mount=y #挂载网络硬盘
#CONFIG_PACKAGE_luci-app-diskman=y
#CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
#CONFIG_PACKAGE_luci-app-guest-wifi=y
#CONFIG_PACKAGE_luci-app-hd-idle=y
#CONFIG_PACKAGE_luci-app-mwan3=y
#CONFIG_PACKAGE_luci-app-mwan3helper=y
#CONFIG_PACKAGE_luci-app-pushbot=y #全能推送
#CONFIG_PACKAGE_luci-app-qbittorrent=m
#CONFIG_PACKAGE_luci-app-qbittorrent-simple=y
CONFIG_PACKAGE_luci-app-ramfree=y
#CONFIG_PACKAGE_luci-app-rclone=y #管理各种云存储服务
#CONFIG_PACKAGE_luci-app-syncdial=y
#CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-aliyundrive-fuse=y #直接通过 FUSE 实现将阿里云盘挂载为本地磁盘，配合Emby 和 Jellyfin等客户端访问 WebDAV 资源
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y #通过 WebDAV 访问阿里云盘内容，需要配合 rclone 之类的软件将 WebDAV 挂载为本地磁盘
#CONFIG_PACKAGE_luci-app-webdav=y #本地硬盘转网盘
# CONFIG_PACKAGE_luci-app-accesscontrol is not set #上网时间控制，mac
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_luci-app-autoreboot is not set
CONFIG_PACKAGE_luci-theme-argon=y

#外部app
CONFIG_PACKAGE_luci-app-autotimeset=y #原定时设置luci-app-autopoweroff的升级，开机任务设置和定时设置任务二合一， 预置功能：重启、关机、重启网络、释放内存、系统清理、网络共享、关闭网络、自动检测断网重连、MWAN3负载均衡检测重连、自定义脚本等10多个功能
#CONFIG_PACKAGE_luci-app-control-timewol=y #定时唤醒
CONFIG_PACKAGE_luci-app-cpulimit=y #利用cpulimit限制应用程序的CPU使用率
CONFIG_PACKAGE_luci-app-eqosplus=y #定时网速限制。总 + mac/ip
CONFIG_PACKAGE_luci-app-parentcontrol=y
#CONFIG_PACKAGE_luci-app-watchcat-plus=y
#luci-app-cupsd #打印机网络共享
#luci-app-mwol #MQTT服务器
#luci-app-mosquitto #
#luci-app-msd_lite #Multi Stream daemon (msd) 程序的轻量级版本，用于通过 HTTP 管理网络上的 IP TV流
CONFIG_PACKAGE_luci-app-ser2net=y #串口命令转发
